.full-screen{
    backdrop-filter: blur(5px) brightness(0.8);
    min-height: 0;
    min-width: 0;
    max-height: 0;
    max-width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .full-screen-button{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;   
    }
    .image-full{
        position: relative;
        z-index: 2;
        width: 100%;
        cursor: zoom-out;
    }
    .image-full-limit{
        object-fit: contain;
        height: 100vh;
        width: fit-content;
        cursor: zoom-in;
    }
}
.full-screen > .full-screen-xmark{
    position: absolute;
    z-index: 3;
    top: 20px;
    left: calc(100vw - 100px);
}

.full-screen-xmark{
    background: none;
    border-radius: 50%;
    border: 5px solid transparent;
    font-size: 20px;
    padding: 10px;
    transition: backdrop-filter 0.2s, border 0.2s;
    transform: translate(0, 0);
    cursor: pointer;
    svg{
        path{
            color: #EBECFA;
            transition: color 0.2s;
        }
    }
    &:hover{
        backdrop-filter: blur(5px) brightness(1.5);
        border: 5px solid #FBA059;
        svg{
            path{
                color: #FBA059;
            }
        }      
    }
}

// FullScreen appear Animation 

.full-screen-appear{
    animation: full-screen-appear 1 0.2s both;
}
.full-screen-disappear{
    animation: full-screen-disappear 1 0.2s both;
}

@keyframes full-screen-appear {
    0% {
        display: flex;
        backdrop-filter: blur(0) brightness(1);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    100% {
        backdrop-filter: blur(5px) brightness(0.8);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
}

@keyframes full-screen-disappear {
    0% {
        backdrop-filter: blur(5px) brightness(0.8);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    99% {
        backdrop-filter: blur(0) brightness(1);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    100%{
        display: none;
        min-height: 0;
        min-width: 0;
        max-height: 0;
        max-width: 0;
    }
}

.full-screen-popup{
    position: relative;
    z-index: 2;
    padding: 20px;
    border: 2px solid #EBECFA;
    background-color: rgba(7, 13, 39, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    gap: 20px;
    .full-screen-xmark{
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 20px;
    }
    h2{ 
        text-align: center;
        min-width: 300px;
        font-size: 2rem;
        font-family: "Michroma", sans-serif;
        margin: 0 70px;
    }
}
.full-screen-lor-reg, .full-screen-image-upload{
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        .input-container{
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            width: 100%;
            overflow: hidden;
            gap: 5px;
            height: fit-content;
            input, .textarea{
                margin: 7px 70px 0 70px;
                min-width: 350px;
                width: calc(100% - 160px);
                max-width: 50vw;
            }
            p {
                width: 100%;
                height: 20px;
                min-height: 20px;
                text-align: center;
            }
            .input-fetch-state{
                position: absolute;
                width: 36px;
                height: 36px;
                top: 7px;
                right: 0;
            }
            .input-error-section{
                height: 0;
                overflow: hidden;
                width: fit-content;
                padding: 0 12px;
                max-width: calc(100% - 24px);
                transition: heigth 0.2s, max-heigth 0.2s, min-heigth 0.2s;
            }
        }
        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 70px;
            width: calc(100% - 140px);
            max-width: 50vw;
            gap: 10px;
            .link{
                font-size: 0.85rem;
            }
        }
    }
}
.full-screen-image-upload{
    .image-upload-preview{
        height: 300px;
        max-height: 300px;
        width: auto;
        .img{
            object-fit: contain;
        }
        .image-upload-preview-placholder{
            cursor: default;
            height: 300px;
            width: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .image-upload-preview-corner-1,
            .image-upload-preview-corner-2,
            .image-upload-preview-corner-3,
            .image-upload-preview-corner-4{
                position: absolute;
                height: 48px;
                width: 48px;
            }
            .image-upload-preview-corner-1{
                top: 0;
                left: 0;
                border-top: 2px solid #9f9fa7;
                border-left: 2px solid #9f9fa7;
            }
            .image-upload-preview-corner-2{
                top: 0;
                right: 0;
                border-top: 2px solid #9f9fa7;
                border-right: 2px solid #9f9fa7;
            }
            .image-upload-preview-corner-3{
                bottom: 0;
                right: 0;
                border-bottom: 2px solid #9f9fa7;
                border-right: 2px solid #9f9fa7;
            }
            .image-upload-preview-corner-4{
                bottom: 0;
                left: 0;
                border-bottom: 2px solid #9f9fa7;
                border-left: 2px solid #9f9fa7;
            }
            h3{
                color: #9f9fa7;
            }
        }
    }
    .textarea-container {
        height: fit-content;
        .textarea{
            border: 1px solid #EBECFA;
            outline: none;
            transition: color 0.2s, border-color 0.2s, box-shadow 0.2s;
            &:focus{
                border-color: #FBA059;
                width: 75vw;
                height: 375px;
            }
        }
        min-width: 250px;
    }
    .file-input{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        &:hover{
            color: #9f9fa7;
        }
        &::file-selector-button{
            background-color: transparent;
            color: #EBECFA;
            text-decoration: underline;
            border: none;
            transition: color 0.2s;
            &:hover{
                color: #FBA059;
            }
        }
    }
}
.full-screen-need-to-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 20px 70px 0 70px;
    }
}
.input-container-error{
    animation: error-appear 0.6s 1 both;
    max-height: 20px!important;
    p{
        animation: error-appear-p 1.2s 1 both;
    }
}
 @keyframes error-appear {
    0% {
        height: 0px;
        border: 1px solid #EBECFA;
        background-color: #EBECFA;
        border-radius: 0;
        box-shadow: 
            inset 0px 11px 8px -10px #EBECFA,
            inset 0px -11px 8px -10px #EBECFA; 
    }
    30% {
        height: 20px;
        background-color: transparent;
        border: 1px solid #EBECFA;
        border-radius: 5px;
        box-shadow: 
            inset 0px 11px 8px -10px #EBECFA,
            inset 0px -11px 8px -10px #EBECFA;
    }
    99%{
        height: 20px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid rgba(255, 0, 0, 0.01);
        box-shadow: 
            inset 0px 11px 8px -10px rgba(255, 0, 0, 0.01),
            inset 0px -11px 8px -10px rgba(255, 0, 0, 0.01);
    }
    100%{
        height: 20px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid transparent;
        box-shadow: 
            inset 0px 11px 8px -10px transparent,
            inset 0px -11px 8px -10px transparent;
    }
 }

 @keyframes error-appear-p {
    0% {
        color: #EBECFA;
    }
    18% {
        color: red;
    }
    100%{
        color: #EBECFA;
    }
 }