.full-screen{
    backdrop-filter: blur(5px) brightness(0.8);
    min-height: 0;
    min-width: 0;
    max-height: 0;
    max-width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .full-screen-button{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;   
    }
    .image-full{
        position: relative;
        z-index: 2;
        width: 100%;
        cursor: zoom-out;
    }
    .image-full-limit{
        object-fit: contain;
        height: 100vh;
        width: fit-content;
        cursor: zoom-in;
    }
    .full-screen-xmark{
        position: absolute;
        z-index: 3;
        top: 20px;
        left: calc(100vw - 100px);
    }
}

.full-screen-xmark{
    background: none;
    border-radius: 50%;
    border: 5px solid transparent;
    font-size: 20px;
    padding: 10px;
    transition: backdrop-filter 0.2s, border 0.2s;
    transform: translate(0, 0);
    cursor: pointer;
    svg{
        path{
            color: #EBECFA;
            transition: color 0.2s;
        }
    }
    &:hover{
        backdrop-filter: blur(5px) brightness(1.5);
        border: 5px solid #FBA059;
        svg{
            path{
                color: #FBA059;
            }
        }      
    }
}

// FullScreen appear Animation 

.full-screen-appear{
    animation: full-screen-appear 1 0.2s both;
}
.full-screen-disappear{
    animation: full-screen-disappear 1 0.2s both;
}

@keyframes full-screen-appear {
    0% {
        display: flex;
        backdrop-filter: blur(0) brightness(1);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    100% {
        backdrop-filter: blur(5px) brightness(0.8);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
}

@keyframes full-screen-disappear {
    0% {
        backdrop-filter: blur(5px) brightness(0.8);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    99% {
        backdrop-filter: blur(0) brightness(1);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }
    100%{
        display: none;
        min-height: 0;
        min-width: 0;
        max-height: 0;
        max-width: 0;
    }
}