@use '../../variables' as *;
.user-tile{
    display: flex;
    gap: 20px;
    align-items: center;
    .user-tile-main{
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        align-items: center;
        .user-info{
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            h3{
                font-weight: 500;
            }
            p, span{
                color: #9f9fa7;
            }
        }
    }
    button{
        margin: 0;
        min-width: fit-content;
    }
}
@media (max-width: $mobile) {
    .user-tile{
        gap: 16px;
        .user-tile-main{
            gap: 16px;
            .user-info{
                gap: 6px;
                h3{
                    font-size: 16px;
                }
                p, span{
                    font-size: 13px;
                }
            }
        }
        button{
            height: 30px;
            font-size: 13px;
        }
    }
}