#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    gap: 40px;
    margin-top: 100px;
    h1{
        font-size: 48px;
        opacity: 0.9;
    }
    p{
        font-size: 30px;
        width: 50vw;
    }
    h1, p {
        text-align: center;
    }
    #hero-buttons{
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

// Tag Section

#tags-list{
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 75px;
}

#gallery, #article, #event{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}
.top-separator{
    margin-top: 20px;
}

section{
    h2{
        font-size: 48px;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        opacity: 0.9;
        margin: 120px 0 50px 0;
        text-align: center;
    }
    button{
        margin: 50px 0 130px 0;
    }
}