.image-section{
    margin-top: 40px;
    width: 75vw;
    display: flex;
    justify-content: center;
    .image-normal{
        flex: 1;
        object-fit: cover;
        width: auto;
        height: 70vh;
        border-radius: 20px;
        cursor: pointer;
    }
}
.description{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .author-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.no-image-found{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.comment-section{
    margin: 50px 0;
    width: 75vw;
    max-width: 75vw;
}