.image-section{
    margin-top: 40px;
    width: 75vw;
    display: flex;
    justify-content: center;
    .image-normal{
        flex: 1;
        object-fit: cover;
        width: auto;
        height: 70vh;
        border-radius: 20px;
        cursor: pointer;
    }
}
.full-screen{
    backdrop-filter: blur(5px) brightness(0.8);
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .full-screen-button{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;   
    }
    .image-full{
        position: relative;
        z-index: 2;
        width: 100%;
        cursor: zoom-out;
    }
    .image-full-limit{
        object-fit: contain;
        height: 100vh;
        width: fit-content;
        cursor: zoom-in;
    }
    button{
        position: absolute;
        z-index: 3;
        top: 20px;
        left: calc(100vw - 100px);
        background: none;
        border-radius: 50%;
        border: 5px solid transparent;
        font-size: 20px;
        padding: 10px;
        transition: backdrop-filter 0.2s, border 0.2s;
        transform: translate(0, 0);
        cursor: pointer;
        svg{
            path{
                color: #EBECFA;
                transition: color 0.2s;
            }
        }
        &:hover{
            backdrop-filter: blur(5px) brightness(1.5);
            border: 5px solid #FBA059;
            svg{
                path{
                    color: #FBA059;
                }
            }      
        }
    }
}
.description{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .author-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.no-image-found{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.comment-section{
    margin: 50px 0;
    width: 75vw;
    max-width: 75vw;
}