@use '../variables' as *;
.image-section{
    margin-top: 40px;
    width: 75vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    .image-normal{
        flex: 1;
        object-fit: cover;
        width: auto;
        height: 70vh;
        border-radius: 20px;
        cursor: pointer;
    }
    @media (max-width: $desktop) {
        .image-normal{
            height: 45vh;
        }
    }
    @media (max-width: $mobile) {
        .image-normal{
            height: 30vh;
        }
    }
}
@media (max-width: $mobile) {
    .image-section{
        width: calc(100vw - 40px);
    }
}
.description{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .image-title-section{
        display: flex;
        justify-content: space-between;
    }
    .author-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: $mobile) {
    .description{
        margin-top: 16px;
        gap: 16px;
        width: calc(100vw - 40px);
        .image-title-section{
            h1{
                font-size: 24px;
            }
        }
    }
}
.no-image-found{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.comment-section{
    margin: 50px 0;
    width: 75vw;
    max-width: 75vw;
}