.global{
    h2{
        margin-top: 150px;
        font-size: 36px;
        font-family: "Michroma", sans-serif;
    }
    a{
        padding-top: 10px;
        height: 40px;
        font-size: 24px;
        font-weight: normal;
    }
}
