.article-list{
    width: 75vw;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .article-item-list{
        position: relative;
        background-color: #070D27;
        border-radius: 20px;
        min-height: 250px;
        width: 100%;
        overflow: hidden;
        display: flex;
        opacity: 0.75;
        transition: opacity 0.5s, transform 0.2s;
        .article-image, .article-filter{
            transition: transform 0.5s;
        }
        &:hover{
            opacity: 1;
            .article-image, .article-filter{
                transform: scale(1.05);
            }
        }
        .article-image{
            flex: 1;
            object-fit: cover;
            height: 250px;
            width: 66%;
            max-width: 66%;
            transition: 0.5s;
        }
        .article-content{
            display: flex;
            gap: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            .article-logo{
                height: 100%;
                width: 50%;
                display: flex;
            }
            .article-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 50px 20px 20px 0;
                .article-info{
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        text-shadow: 0 0 7px black;
                    }
                    p{
                        font-weight: 300;
                        font-size: 17px;
                        margin-bottom: 10px;
                        text-shadow: 0 0 7px black;
                    }
                    span{
                        font-style: italic;
                        font-weight: 200;
                        text-shadow: 0 0 7px black;
                    }
                }
                .article-link-container{
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    a{
                        position: relative;
                        text-decoration: none;
                        transition:  transform 0.1s;
                        font-size: 24px;
                        font-family: "Lato", sans-serif;
                        text-align: end;
                        text-shadow: 0 0 7px black;
                    }
                }
            }
        }
        .article-filter{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: calc(66% + 1px);
            background: linear-gradient(90deg, rgba(7, 13, 39, 0) 0%, rgba(7, 13, 39, 1) 100%);
        }
    }
}

/* Article link Hover Animation */

.article-link::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EBECFA;
    transition: transform 0.2s ease-out;
    transform-origin: bottom center;
}

.article-link:hover::after {
    transform: scaleX(1);
}