footer {
    hr{
        margin-bottom: 100px;
    }
    position: relative;
    z-index: 0;
    #footer-background{
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        height: 100%;
        width: 100vw;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    #footer-section-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 250px;
        .footer-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            h3{
                font-family: "Lato", sans-serif;
                font-size: 20px;
            }
            .footer-link-list{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                li{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    a{
                        font-family: "Lato", sans-serif;
                        text-decoration: none;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
        #social-media{
            #social-media-list{
                display: flex;
                gap: 15px;
                flex-flow: row wrap;
                list-style: none;
                width: 100%;
                justify-content: center;
                li{
                    a{
                        font-size: 35px;
                        height: 55px;
                        width: 30px;
                    }
                }
            }
            button{
                margin-top: 40px;
            }
        }
    }
    #signature{
        height: 20px;
        margin: 30px 0 100px 0;
    }
}