.image-section{
    width: 75vw;
    display: flex;
    justify-content: center;
    img{
        max-width: 100%;
        max-height: 70vh;
    }
}
#top-separtaor{
    margin-top: 20px;
}
.description-section{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .author-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}