.description-image{
    width: 75vw;
    backdrop-filter: blur(5px) brightness(0.8);
    border-radius: 20px;
    border: 1px solid #EBECFA;
    overflow: hidden;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .views-date-section{
        display: flex;
        flex-flow: row nowrap;
        margin: 20px 20px 0 20px;
        gap: 15px;
        font-size: 16px;
        span{
            font-weight: 600;
        }
        p{
            color: #9f9fa7;
        }
    }
    .text-section, .tags-list-section{
        margin: 0 20px 0 20px;
    }
    hr{
        width: 100%;
    }
    .tags-list-section{
        h4{
            font-size: 20px;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 20px;
    }
    button{
        margin: 0 20px 20px 20px;
    }
}