.image-section{
    margin-top: 40px;
    width: 75vw;
    display: flex;
    justify-content: center;
    .image-normal{
        flex: 1;
        object-fit: cover;
        width: auto;
        height: 70vh;
        border-radius: 20px;
    }
}
.full-screen{
        backdrop-filter: blur(5px) brightness(0.8);
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
    .image-full{
        z-index: 2;
        cursor: zoom-out;
    }
    .image-full-limit{
        object-fit: contain;
        height: 100vh;
        width: auto;
        cursor: zoom-in;
    }
    button{
        position: absolute;
        z-index: 3;
        top: 20px;
        left: calc(100vw - 100px);
        background: none;
        border: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        svg{
            polygon{
                color: #EBECFA;
                &:hover{
                    color: #FBA059;
                }
            }
        }
    }
}
.description{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .author-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.no-image-found{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

#test-comment{
    margin: 50px 0;
    width: 75vw;
    max-width: 75vw;
}