.description-image{
    width: 75vw;
    backdrop-filter: blur(5px) brightness(0.8);
    border-radius: 20px;
    border: 1px solid #EBECFA;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .views-date-section{
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
        font-size: 16px;
        span{
            font-weight: 600;
        }
    }
    .description-section{
        line-height: 25px;
        font-size: 0.95rem;
        display: flex;
        flex-direction: column;
        p{
            min-height: 25px;
        }
    }
    .tags-list-section{
        h4{
            font-size: 20px;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 20px;
    }
    button{
        background-color: transparent;
        width: fit-content;
        border: 1px solid #EBECFA;
        border-radius: 12px;
        padding: 5px 10px;
        transition: border-color 0.2s, color 0.2s;
        cursor: pointer;
        font-size: 15px;
        &:hover{
            border-color: #FBA059;
            color: #FBA059;
        }
    }
}