.label-logo{
    margin: 15px 0 0 20px;
    height: fit-content;
    padding: 10px 15px;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #EBECFA;
    box-shadow: 0 0 7px black;
    img{
        height: 20px;
        object-fit: contain;
    }
    h4{
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }
}
