/* Global */

* {
    // font-family: "Lato", sans-serif;
    // font-family: "Michroma", sans-serif;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    z-index: 0;
    color: #EBECFA;
}
body {
    background: linear-gradient(90deg, #000000, #070D27 40%, #070D27 50%, #000000);
}
#body{
    z-index: 0;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

header{
    position: relative;
    z-index: 1;
}
main{
    position: relative;
    z-index: 0;
}
footer{
    position: relative;
    z-index: 1;
}

/* Pour les navigateurs qui prennent en charge les propriétés `scrollbar-*` */

@supports (scrollbar-color: auto) {
    *{
        scrollbar-width: 15px;
        scrollbar-color: #EBECFA transparent;
        
    }
}

/* Sinon, utilisez les pseudo-éléments `::-webkit-scrollbar-*` */

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        width: 13px;
        width: fit-content;
        height: 30px;
    }
    *::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #EBECFA;
        border-radius: 100vh;
        border: 2px solid #000000;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global{
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

h1{
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

/* Particles */

#filter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #000000,#ff000000 10%,#ff000000 90%,#000000);
}

#tsparticles{
    position: relative;
    z-index: -2;
}

.section-separator {
    opacity: 0.5;
    border: none;
    width: 75vw;
    height: 2px;
    background: linear-gradient(90deg, #ebecfa00,#EBECFA,#ebecfa00);
}

// Avatar

.avatar{
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-family: "Michroma", sans-serif;
        text-align: center;
        text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
        text-decoration: none !important;
    }
}

// Logo Styles

.logo{
    max-height: 75px;
    max-width: 75px;
    height: 75px;
    width: 75px;
    background-color: #EBECFA;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        transform: scale(1.05);
        text-shadow: 0 0 7px black;
    }
}

.name-logo {
    a {
        text-decoration: none;
        display: flex;
        height: 100%;
        align-items: center;
        gap: 20px;
    }
}

/* Utilitise Styles */

.glow{
    text-shadow: 0 0 7px #ebecfad3;
}

.push-action{
    transition: transform 0.2s ease-in-out;
}
.push-action:active {
    transform: scale(0.9);
}

.spacing-letter-small{
    letter-spacing: 1px;
}
.spacing-letter-big{
    letter-spacing: 5px;
}

.sort-selected{
    color: #FBA059;
    &::after{
        background-color: #FBA059!important;
    }
}

// Input Style

.base-input{
    background-color: transparent;
    border: 1px solid #EBECFA;
    height: 25px;
    border-radius: 12px;
    font-size: 1rem;
    padding: 5px 10px;
    color: #9f9fa7;
    outline: none;
    transition: color 0.2s, border-color 0.2s;
    &:hover{
        color: #EBECFA;
    }
    &:focus{
        color: #EBECFA;
        border-color: #FBA059;
        backdrop-filter: blur(5px) britghness(0.8);
    }
}

.input-valid{
    border-color: greenyellow;
}
.input-invalid{
    border-color: red;
}

// Button Cta Styles

.button-big, .button-normal {
    width: fit-content;
}

.button-big{
    min-width: 200px;
    height: 70px;
    font-size: 24px;
}
.button-normal{
    min-width: 150px;
    height: 50px;
    font-size: 16px;
}
.button-cta, .button-cta-reverse{
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    border: 2px solid #FBA059;
    font-family: "Michroma", sans-serif;
    text-align: center;
    text-decoration: underline;
    transition: color 0.2s, background-color 0.2s, transform 0.1s;
    overflow: hidden;
}
.button-cta{
    color: #070D27;
    background-color: #FBA059;
}
.button-cta-reverse{
    color: #FBA059;
    background-color: #070D27;
}
.button-like{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #EBECFA;
    border-radius: 12px;
    height: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s, transform 0.1s;
    svg{
        height: 25px;
        width: 25px;
        polygon{
            transition: color 0.2s;
        }
    }
    span{
        font-size: 18px;
        transition: color 0.2s;
    }
}

.button-simple{
    background-color: transparent;
    width: fit-content;
    border: 1px solid #EBECFA;
    border-radius: 12px;
    padding: 5px 10px;
    transition: border-color 0.2s, color 0.2s;
    cursor: pointer;
    font-size: 15px;
     &:hover{
        border-color: #FBA059;
        color: #FBA059;
    }
}

.link-button{
    background-color: transparent;
    border: none;
}


// Button CTA Hover Animation

.button-cta:hover{
    color: #FBA059;
}
.button-cta-reverse:hover{
    color: #070D27;
}

.button-disable{
    opacity: 0.5;
}

.button-like:hover{
    border-color: #FBA059;
    svg{
        polygon{
            color:#FBA059;
        }
    }
    span{
        color:#FBA059;
    }
}
.liked{
    background-color: #EBECFA;
    svg{
        height: 25px;
        width: 25px;
        polygon{
            color: #070D27;
        }
    }
    span{
        color: #070D27;
    }
}
.liked:hover{
    background-color: #FBA059;
    svg{
        height: 25px;
        width: 25px;
        polygon{
            color: #070D27;
        }
    }
    span{
        color: #070D27;
    }
}

.button-cta::after, .button-cta-reverse::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: scaleX(0);
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-out;
    transform-origin: bottom right;
}

.button-cta::after {
    background-color: #070D27;
}

.button-cta-reverse::after {
    background-color: #FBA059;
}

.button-cta:hover::after, .button-cta-reverse:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

// Tags Hover Animation

.tag-logo {
    opacity: 0.5;
    transition: opacity 0.2s, transform 0.1s;
}
.tag-logo:hover {
    opacity: 1;
}

/* link Style */

.link{  
    min-height: 40px;
    width: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition:  transform 0.1s, color 0.2s;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.link::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: #EBECFA;
    transition: transform 0.2s ease-out, color 0.2s;
    transform-origin: bottom center;
}

.link:hover::after {
    transform: scaleX(1);
}

/* Long Text Style */

.text-section{
    line-height: 25px;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    .text-container{
        width: 100%;
        p{
            min-height: 25px;
        }
    }
    .text-mask{
        -webkit-mask-image: linear-gradient(to left, transparent 20px, white 45px);
        mask-image: linear-gradient(to left, transparent 25px, white 45px);
    }
    .text-section-fade{
        position: absolute;
        min-height: 25px;
        height: 25px;
        bottom: 0;
        right: 10px;
    }
    .row-text-container{
        width: 100%;
        min-height: 25px;
        max-height: 25px;
        overflow: hidden;
        position: relative;
        .text-container{
            position: absolute;
            left: 0;
        }
    }
}


// Select Container

.select-container{
    display: flex;
    align-items: flex-start !important;
    backdrop-filter: blur(5px) brightness(0.8);
    border: 1px solid #0A2A59;
    background-color: rgba(7, 13, 39, 0.5);
    width: fit-content;
    border-radius: 12px;
    overflow: hidden;
    ul{
        list-style: none;
        width: fit-content;
        overflow-y: auto;
        max-height: calc(36 * 4);
        li{
            z-index: 100;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 8px 10px;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover{
                background-color: rgba(10, 42, 89, 0.5);  
            }
        }
        .option-selected{
            background-color: rgba(10, 42, 89, 0.5);
            p{
                color: #FBA059;
            }
        }
    }
}

// Appear Animation

.appear{
    animation: appear-animation 0.3s backwards;
}

@keyframes appear-transform-scale-animation {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Appear transform scale Animation

.appear-transform-scale{
    animation: appear-transform-scale-animation 1s backwards;
}
.appear-transform-scale-user{
    animation: appear-transform-scale-user-animation 1s backwards;
}

@keyframes appear-transform-scale-animation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50%{
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 0.75; 
        transform: scale(1);
    }
}
@keyframes appear-transform-scale-user-animation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50%{
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1; 
        transform: scale(1);
    }
}

// Custom Select Appear and disappear Animation

.custom-select-appear{
    animation: custom-select-appear-animation 1 0.3s both ;
}

.custom-select-disappear{
    animation: custom-select-disappear-animation 1 0.6s both ;
}

@keyframes custom-select-appear-animation {
    0%{
        display: flex;
        height: 0;
        border-radius: 0;
        border: 0 solid #EBECFA;
        background-color: #EBECFA;
    }
    100%{
        height: calc(36 * 4);
        border-radius: 12px;
        border: 1px solid #0A2A59;
        background-color: rgba(7, 13, 39, 0.5);
    }
}

@keyframes custom-select-disappear-animation {
    0%{
        height: calc(36 * 4);
        border-radius: 12px;
        border: 1px solid #0A2A59;
        opacity: 1;
        background-color: rgba(7, 13, 39, 0.5);
    }
    50%{
        height: 1px;
        border-radius: 0;
        border: 0 solid #EBECFA;
        opacity: 1;
        background-color: #EBECFA;
    }
    99%{
        height: 1px ;
        border-radius: 0;
        border: 0 solid #EBECFA;
        opacity: 0;
    }
    100%{
        height: 1px ;
        border-radius: 0;
        border: 0 solid #EBECFA;
        opacity: 0;
        display: none;
    }
}