nav {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    section {
    display: flex;
    flex-flow: row wrap; 
    width: 100%;
    }
    #top-nav{
        position: relative;
        z-index: 1;
        height: 95px;
        justify-content: space-between;
        align-items: center;
        
        h1{
            font-family: "Michroma", sans-serif;
            font-size: 24px;
        }
        div{
            display: flex;
            height: 100%;
            align-items: center;
        }
        #nav-part{
            display: flex;
            gap:30px;
        }
        #link-list{
            display: flex;
            list-style: none;
            padding: 0;
            width: 490px;
            justify-content: space-between;
            gap: 35px;
        }
        #user{
            width: fit-content;
            display: flex;
            gap: 10px;
        }
        #notification-container{
            height: fit-content;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 25px;
        }
        #notification-moon {
            max-height: 15px;
            max-width: 15px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            color: #EBECFA;
            // overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #notification-count{
            position: absolute;
            top: 10px;
            color: red;
            text-shadow: 0 0 7px red;
        }
        #avatar{
            text-decoration: none;
        }
        #avatar-icon {
            max-height: 55px;
            max-width: 55px;
            height: 55px;
            width: 55px;
            background-color: #EBECFA;
            border-radius: 50%;
        }
    }
    #search-nav{
        position: relative;
        z-index: 0;
        display: flex;
        height: 65px;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        input{
            background-color: transparent;
        }
        button{
           margin: 0;
           background: transparent;
           border: none;
        }
    }
}

// Lang Select

#language-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: fit-content;
    button {
        padding: 10px 0;
        margin: 0;
        background-color: transparent;
        border: none;
        transition: border 0.2s;
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .select-container{
        top: 50px;
        left: -40px;
        position: absolute;
    }
    ul{
        list-style: none;
        width: fit-content;
        overflow-y: auto;
        max-height: calc(36 * 4);
        li{
            z-index: 100;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 8px 10px;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover{
                background-color: rgba(10, 42, 89, 0.5);  
            }
        }
        .lang-selected{
            background-color: rgba(10, 42, 89, 0.5);
            p{
                color: #FBA059;
            }
        }
    }
}

// Search Bar

.search-bar{
    z-index: 0;
    height: 38px;
    width: 300px;
    background-color: rgba(7, 13, 39, 0.5);
    border: 1px solid #0A2A59;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    input, button{
        background-color: transparent;
        border: none;
        font-size: 16px;
        width: 100%;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        position: relative;
        font-size: 20px;
        margin: 0;
        cursor: pointer;
        svg {
            position: absolute;
            top: 10px;
            left: 5px;
        }
    }
    input{
        font-family: "Michroma", sans-serif;
        max-width: calc(100% - 40px);
        margin-left: 5px;
    }
    input:focus, button:focus{
        outline: none;
    }
}

