.user-tile{
    display: flex;
    gap: 20px;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .user-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        h3{
            font-weight: 500;
        }
        p, span{
            color: #9f9fa7;
        }
    }
    button{
        margin: 0;
    }
}
.comment-user{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    button{
        background-color: transparent;
        border: 0;
        font-size: 1rem;
    }
}
.user-info-row{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    h3{
        font-size: 1rem;
        font-weight: 500;
    }
    span{
        font-size: 0.95rem;
        color: #9f9fa7;
    }
}
.like-reply-section{
    width: 75vw;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .like-reply{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;    
        gap: 15px;
        .comment-like{
            padding: 10px;
            border-radius: 12px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            svg{
                width: 25px;
                path{
                    color: #EBECFA;
                    
                }
            }
            &:hover{
                svg{
                    path{
                        color: #FBA059;
                    }
                }
            }
            span{
                color: #9f9fa7;
            }
        }
    }
    .reply{
        display: flex;
        width: 100%;
        gap: 10px;
        .reply-main{
            hr{
                margin-bottom: 10px;
                width: 100%;
            }
            display: flex;
            flex-direction: column;
            width: 100%;
            .textarea{
                background-color: transparent;
                border: none;
                resize: none;
                line-height: 25px;
                font-size: 1rem;
                padding: 5px 10px;
                max-height: 375px;
                min-height: 25px;
                field-sizing: content;
                overflow-y: auto;
                p{
                    color: #9f9fa7;
                }
                transition: backdrop-filter 0.2s;
                &:focus{
                    backdrop-filter: blur(5px) brightness(0.8);
                }
            }
            .button-reply{
                button{
                    background-color: transparent;
                    border: 0;
                    font-size: 1rem;
                }
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                gap: 20px;
            }
        }
    }
}
