.user-tile{
    display: flex;
    gap: 20px;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .user-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    button{
        margin: 0;
    }
}