.user-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    .user-list-item{
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        align-items: center;
        max-height: 75px;
        overflow: hidden;
        gap: 30px;
        align-items: center;
        width: 100%;
        .user-tile{
            width: 75%;
            min-width: fit-content;
            justify-content: space-between;
        }
        .user-list-info{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            .text-section{
                width: 100%;
                max-height: 100%;
            }
            .user-stats{
                width: fit-content;
                min-width: 75px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 7px;
            }
        }
    }
}