.user-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    .user-list-item{
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        align-items: center;
        height: 75px;
        overflow: hidden;
        gap: 30px;
        align-items: center;
        width: 100%;
        .user-tile{
            width: 50%;
        }
        .text-section{
            width: 38%;
            max-height: 100%;
        }
        .user-stats{
            width: 12%;
            display: flex;
            flex-direction: column;
        }
    }
}