.bento-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:30px;
    width: 100%;
}
.bento-box{
    flex: 1;
    display: flex;
    position: relative;
    opacity: 0.75;
    transition: opacity 0.5s, transform 0.2s;
    .bento-image{
        flex: 1;
        overflow: hidden;
        border-radius: 20px;
        width: fit-content;
        display: flex;
        img{
            flex: 1;
            object-fit: cover;
            height: 300px;
            width: auto;
            transition: 0.5s;
        }
        &:before {
            content: ' ';
            display: block;
            border-radius: 20px;
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: 1;
            box-shadow: inset 0 0 50px #02040ccc;
        }
    }
    .bento-text-and-filter{
        position: absolute;
        border-radius: 0 0 20px 20px;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 5px;
        h3, p{
            text-align: end;
            width: calc(100% - 40px);
            font-family: "Montserrat", sans-serif;
            font-weight: normal;
            font-size: 24px;
            text-shadow: 0 0 7px black;
        }
        p{
            margin-bottom: 20px;
            font-weight: 200;
            font-size: 15px;
            text-shadow: 0 0 7px black;
        }
    }
    .view-like-bundle{
        position: absolute;
        top: 20px;
        right: 20px;
        box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &:hover {
        opacity: 1;
        img {
            transform: scale(1.05);
        }
    }
}