@use '../../variables' as *;
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $carousel-width;
    position: relative;
    -webkit-mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
    mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
}
.carousel-viewport{
    width: $carousel-width;
    height: $slide-selected;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.carousel-slide-container{
    display: flex;
    align-items: center;
    // touch-action: pan-y pinch-zoom;
    gap: $slide-spacing;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    left: calc( (($carousel-width - 100vw)/2) + 50vw - ($slide-size-unselected/2));
}
.carousel-slide{
    position: relative;
    width: $slide-size-unselected;
    height: $slide-size-unselected;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0.4;
    transition:
        transform 0.5s ease-in-out, 
        opacity 0.5s ease-in-out
    ;
    .event-image{
        flex: 1;
        position: absolute;
        overflow: hidden;
        border-radius: 20px;
        width: $slide-size-unselected;
        display: flex;
        height: $slide-size-unselected;
        img{
            position: absolute;
            flex: 1;
            object-fit: cover;
            height: $slide-size-unselected;
            width: $slide-size-unselected;
            transition: 0.5s;
            z-index: 0;
        }
        &:before {
            position: absolute;
            content: ' ';
            display: block;
            border-radius: 20px;
            left: 0; top: 0;
            width: $slide-size-unselected; 
            height: $slide-size-unselected;
            z-index: 1;
            box-shadow: inset 0 0 50px #02040ccc;
        }
    }
    .label-logo{
        transform:
            scale( calc( $slide-size-unselected / $slide-selected ) )
            translate(-35px, -15px)
        ;
    }
    .event-content{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 20px 20px 20px;
        z-index: 1;
        h4{
            font-size: calc(24px * ($slide-size-unselected / $slide-selected));
            margin-bottom: 5px;
            font-weight: normal;
            text-shadow: 0 0 7px black;
        }
        span{
            font-size: calc(16px * ($slide-size-unselected / $slide-selected));
            font-weight: lighter;
            text-shadow: 0 0 7px black;
        }
    }
    .event-filter{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: $slide-size-unselected;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }
}
.slide-selected{
    transform: translateX(0) scale(calc($slide-selected/$slide-size-unselected));
    opacity: 0.75;
    &:hover {
        opacity: 1;
        .event-image {
            img {
                transform: scale(1.05);
            }
        }
    }
    &:active{
        transform: scale( calc($slide-selected/$slide-size-unselected) * 0.9 );
    }
}
.slide-selected-transition:hover{
    transition:
        transform 0.15s ease-in-out,
        opacity 0.5s ease-in-out
    ;
}
.slide-befor{
    transform: translateX( calc( ( $slide-selected - $slide-size-unselected ) / 2) );
}
.slide-after{
    transform: translateX( calc( -1 * ($slide-selected - $slide-size-unselected) / 2) );
}
.event-button{
    position: absolute;
    top: calc( ($slide-selected / 2) - ($carousel-button-size / 2));
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: calc($carousel-button-size - ($carousel-button-size / 3));
    height: $carousel-button-size;
    width: $carousel-button-size;
    color: #EBECFA;
    transition: border 0.2s, transform 0.15s;
    border-radius: 50%;
    border: 2px solid transparent;
    &:hover{
        border: 2px solid #EBECFA;
    }
}

.event-button-left{
    left: calc(  $carousel-width / 2 - $carousel-button-size - $slide-selected / 2 - $slide-spacing - 20px);
}
.event-button-right{
    left: calc(  $carousel-width / 2 + $slide-selected / 2 + $slide-spacing + 20px);
}